@model IEnumerable<JamesThewDOTcom.Models.Ingredient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<br />
<br />
<br />

<h2>Index</h2>

@using (Html.BeginForm("Create", "Ingredients", FormMethod.Get))
{
    <input type="hidden" name="recipeId" value="@ViewBag.RecipeID" />
    <input type="submit" value="Create Ingredient" class="btn btn-primary" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngredientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipe.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IngredientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipe.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IngredientID }) |
                @Html.ActionLink("Details", "Details", new { id = item.IngredientID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IngredientID })
            </td>
        </tr>
    }

</table>
