@model JamesThewDOTcom.Models.Recipe

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageOfStep1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageOfStep2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageOfStep3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageOfStep4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageOfStep5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
