@model JamesThewDOTcom.Models.Recipe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Recipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.Image) ? "No Image" : Url.Content(Model.Image))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep1)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.ImageOfStep1) ? "No Image" : Url.Content(Model.ImageOfStep1))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep2)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.ImageOfStep2) ? "No Image" : Url.Content(Model.ImageOfStep2))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep3)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.ImageOfStep3) ? "No Image" : Url.Content(Model.ImageOfStep3))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep4)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.ImageOfStep4) ? "No Image" : Url.Content(Model.ImageOfStep4))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Step5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Step5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageOfStep5)
        </dt>

        <dd>
            <img src="@(string.IsNullOrEmpty(Model.ImageOfStep5) ? "No Image" : Url.Content(Model.ImageOfStep5))" alt="" style="max-width: 100px; max-height: 100px;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
