@model JamesThewDOTcom.Models.Recipe

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Recipe</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.RecipeID)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RecipeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecipeType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RecipeType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "EmployeeID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageFile" id="imageFile" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img id="imagePreview" src="@Url.Content(Model.Image)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ingredients, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ingredients, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ingredients, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageOfStep1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageOfStep1File" id="imageOfStep1File" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.ImageOfStep1))
                {
                    <img id="imagePreview" src="@Url.Content(Model.ImageOfStep1)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.ImageOfStep1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageOfStep2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageOfStep2File" id="imageOfStep2File" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.ImageOfStep2))
                {
                    <img id="imagePreview" src="@Url.Content(Model.ImageOfStep2)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.ImageOfStep2, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageOfStep3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageOfStep3File" id="imageOfStep3File" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.ImageOfStep3))
                {
                    <img id="imagePreview" src="@Url.Content(Model.ImageOfStep3)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.ImageOfStep3, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageOfStep4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageOfStep4File" id="imageOfStep4File" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.ImageOfStep4))
                {
                    <img id="imagePreview" src="@Url.Content(Model.ImageOfStep4)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.ImageOfStep4, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Step5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Step5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Step5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageOfStep5, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageOfStep5File" id="imageOfStep5File" class="form-control" onchange="previewImage(event)" />
                @if (!string.IsNullOrEmpty(Model.ImageOfStep5))
                {
                    <img id="imagePreview" src="@Url.Content(Model.ImageOfStep5)" alt="Current Image" style="max-width: 200px; max-height: 200px;" />
                }
                else
                {
                    <img id="imagePreview" src="#" alt="Current Image" style="max-width: 200px; max-height: 200px; display: none;" />
                }
                @Html.ValidationMessageFor(model => model.ImageOfStep5, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = event.target.nextElementSibling;
            output.src = reader.result;
            output.style.display = 'block';
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
