@model JamesThewDOTcom.Models.Customer

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<br />
<br />
<br />
<br />
<br />


<h2 class="text-center">My Profile</h2>
<br />
<br />

@using (Html.BeginForm("EditProfile", "UserAuth", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container row justify-content-center">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                <div class="card h-100 mx-auto">
                    <div class="card-body">
                        <div class="account-settings">
                            <div class="user-profile">
                                <div class="user-avatar">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin">
                                </div>
                                <h5 class="user-name">@Html.DisplayFor(model => model.UserName)</h5>
                                <h6 class="user-email">Payment Type: @Html.DisplayFor(model => model.PaymentType.Name)</h6>
                            </div>
                            <div class="about">
                                
                            </div>
                        </div>
                    
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mb-2 text-primary" style="color: #ce1212 !important">Personal Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.First_Name)
                                    @Html.TextBoxFor(model => model.First_Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Last_Name)
                                    @Html.TextBoxFor(model => model.Last_Name, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Phone)
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BirthDate)
                                    @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary" style="color: #ce1212 !important">Address</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address)
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.City)
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                </div>
                            </div>

                        </div>
                        <br />
                        <br />
                        <button type="submit" class="btn btn-primary" style="background-color:#ce1212; color:white">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



}
<style>
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>




