@model JamesThewDOTcom.Models.Customers

@{
    ViewBag.Title = "Sign Up";
    Layout = null;
}

<main>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <section class="vh-100 bg-image" style="background-image: url('https://dulichviet.com.vn/images/bandidau/am-thuc-phap-su-trang-le-trong-tung-chi-tiet-mon-an.jpg'); ">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100 my-form-container">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style="border-radius: 15px;">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Create an account</h2>

                                @using (Html.BeginForm("Register", "UserAuth", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="container">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.First_Name, new { @class = "form-control form-control-lg", placeholder = "First Name" })
                                            @Html.ValidationMessageFor(m => m.First_Name, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.Last_Name, new { @class = "form-control form-control-lg", placeholder = "Last Name" })
                                            @Html.ValidationMessageFor(m => m.Last_Name, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-lg", placeholder = "UserName" })
                                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Password" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.PasswordFor(m => m.RePassword, new { @class = "form-control form-control-lg", placeholder = "Repeat Password" })
                                            @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control form-control-lg", placeholder = "Birth Date" })
                                            @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control form-control-lg", placeholder = "Address" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control form-control-lg", placeholder = "City" })
                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-outline mb-4">
                                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control form-control-lg", placeholder = "Phone" })
                                            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-check d-flex justify-content-center mb-5">
                                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                                            <label class="form-check-label" for="form2Example3g">
                                                I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                                            </label>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="SubscriptionType">Choose Subscription Type:</label>

                                            <div class="row g-2">
                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(m => m.PaymentTypeID, 1, new { @class = "form-check-input visually-hidden", id = "monthly" })
                                                        <label class="form-check-label" for="monthly">
                                                            <button type="submit" class="btn btn-warning w-100">Monthly Subscription<br />$10</button>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-check">
                                                        @Html.RadioButtonFor(m => m.PaymentTypeID, 2, new { @class = "form-check-input visually-hidden", id = "yearly" })
                                                        <label class="form-check-label" for="yearly">
                                                            <button type="submit" class="btn btn-success w-100">Yearly Subscription<br />$100</button>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="d-flex justify-content-center">
                                            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                                Register
                                            </button>
                                        </div>

                                        <p class="text-center text-muted mt-5 mb-0">
                                            Have already an account? @Html.ActionLink("Login here", "Login", "UserAuth", new { area = "" }, new { @class = "fw-bold text-body" })
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</main>
