@model JamesThewDOTcom.Models.Customer

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<br />
<br />
<br />
<br />
<br />

<h2 class="text-center">Reset Password</h2>
<br />
<br /> 

@using (Html.BeginForm("ResetPassword", "UserAuth", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="container row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary" style="color: #ce1212 !important" ></h6>
                        </div>
                        
                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label" })
                                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                            </div>
                        
                        
                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label" })
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        
                        
                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmNewPassword, htmlAttributes: new { @class = "control-label" })
                                @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
                            </div>
                        
                    </div>


                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <br />
                                <br />
                                <button type="submit" class="btn btn-primary" style="background-color:#ce1212; color:white" >Reset Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
}




<style>
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>