@model List<JamesThewDOTcom.Models.CookingContest>

@{
    ViewBag.Title = "Contest";


    if (Session["UserName"] == null)
    {
        // Khi chưa Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        // Khi đã Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    }
}


<!---->
<!--font-awesome.min.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/font-awesome.min.css">

<!--linear icon css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/linearicons.css">

<!--animate.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/animate.css">

<!--flaticon.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/flaticon.css">

<!--slick.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/slick.css">
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/slick-theme.css">

@*bootstrap.min.css
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/bootstrap.min.css">*@

<!-- bootsnav -->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/bootsnav.css">

<!--style.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/style.css">

<!--responsive.css-->
<link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/responsive.css">


<!--explore start -->
<section id="explore" class="explore">
    <div class="container">
        <div class="section-header">
            <h1><a href="~/Contests/DetailContest">Welcome to the CookingContest</a></h1>
            <p class="lead">Description of the contest and important information.</p>
        </div><!--/.section-header-->
        <div class="explore-content">
            <div class="row">
                @foreach (var contest in Model)
                {
                    <div class="col-md-4 col-sm-6">
                        <a href="@Url.Action("DetailContest", "Contests", new { id = contest.CookingContestID })">
                            <div class="single-explore-item">
                                <div class="single-explore-img">
                                    <!-- Hiển thị ảnh từ đường dẫn trong contest.Image -->
                                    <img src="@Url.Content(contest.Image)" alt="explore image">
                                </div>
                                <div class="single-explore-txt bg-theme-1">
                                    <h1>@contest.Title</h1>
                                    <div class="row"></div>
                                    <div class="explore-person">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <!-- Hiển thị Description của cuộc thi -->
                                                <p>
                                                    @if (!string.IsNullOrEmpty(contest.Description))
                                                    {
                                                        string shortDescription = contest.Description.Length > 50 ? contest.Description.Substring(0, 50) + "..." : contest.Description;
                                                        @shortDescription
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="explore-open-close-part">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <!-- Hiển thị ngày bắt đầu và kết thúc của cuộc thi -->
                                                <p>Start Date: @(contest.StartDate.HasValue ? contest.StartDate.Value.ToString("dd/MM/yyyy") : "")</p>
                                                <p>End Date: @(contest.EndDate.HasValue ? contest.EndDate.Value.ToString("dd/MM/yyyy") : "")</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="explore-map-icon">
                                                    <a href="#"><i data-feather="message-circle"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>


    </div><!--/.container-->

</section><!--/.explore-->
<!--explore end -->

<script src="~/Assets/assets_Recipe/js_recipe/jquery.js"></script>

<!--explore end -->

<script src="~/Assets/assets_Recipe/js_recipe/jquery.js"></script>

<!--modernizr.min.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

<!--bootstrap.min.js-->
<script src="~/Assets/assets_Recipe/js_recipe/bootstrap.min.js"></script>

<!-- bootsnav js -->
<script src="~/Assets/assets_Recipe/js_contest/bootsnav.js"></script>

<!--feather.min.js-->
<script src="~/Assets/assets_Recipe/js_recipe/feather.min.js"></script>

<!-- counter js -->
<script src="~/Assets/assets_Recipe/js_recipe/jquery.counterup.min.js"></script>
<script src="~/Assets/assets_Recipe/js_recipe/waypoints.min.js"></script>

<!--slick.min.js-->
<script src="~/Assets/assets_Recipe/js_recipe/slick.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

<!--Custom JS-->
<script src="~/Assets/assets_Recipe/js_recipe/custom.js"></script>
