@{
    ViewBag.Title = "Detail";

    if (Session["UserName"] == null)
    {
        // Khi chưa Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        // Khi đã Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    }
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Assets/assets_RecipeDetail/style.css">

</head>
<body>
    <div>
        <!-- Search Wrapper -->
        <div class="search-wrapper">
            <!-- Close Btn -->
            <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <form action="#" method="post">
                            <input type="search" name="search" placeholder="Type any keywords...">
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </header>
        <!-- ##### Header Area End ##### -->
        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>Recipe</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <div class="receipe-post-area section-padding-80">
            <div class="receipe-content-area">
                <div class="container">

                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="receipe-headline my-5">
                                <h2>@Model.Title</h2>

                                <div>
                                    <p>@Model.Description</p>
                                </div>

                                <div class="receipe-duration">
                                    <h6>Prep: 15 mins</h6>
                                    <h6>Cook: 30 mins</h6>
                                    <h6>Yields: 8 Servings</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <!-- Single Preparation Step 1 -->
                                    <div>
                                        @if (!string.IsNullOrEmpty(Model.Step1))
                                        {
                                            <div class="col-12">
                                                <div class="single-preparation-step d-flex">
                                                    <h4>01.</h4>
                                                    <p>@Model.Step1</p>
                                                </div>
                                                <div class="step-image">
                                                    @if (!string.IsNullOrEmpty(Model.ImageOfStep1))
                                                    {
                                                        <img src="@Url.Content(Model.ImageOfStep1)" alt="Step 1 Image" />
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>


                                    <!-- Single Preparation Step 2 -->
                                    <div>
                                        @if (!string.IsNullOrEmpty(Model.Step2))
                                        {
                                            <div class="col-12">
                                                <div class="single-preparation-step d-flex">
                                                    <h4>02.</h4>
                                                    <p>@Model.Step2</p>
                                                </div>
                                                <div class="step-image">
                                                    @if (!string.IsNullOrEmpty(Model.ImageOfStep2))
                                                    {
                                                        <img src="@Url.Content(Model.ImageOfStep2)" alt="Step 2 Image" />
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <!-- Single Preparation Step 3 -->
                                    <div>
                                        @if (!string.IsNullOrEmpty(Model.Step3))
                                        {
                                            <div class="col-12">
                                                <div class="single-preparation-step d-flex">
                                                    <h4>03.</h4>
                                                    <p>@Model.Step3</p>
                                                </div>
                                                <div class="step-image">
                                                    @if (!string.IsNullOrEmpty(Model.ImageOfStep3))
                                                    {
                                                        <img src="@Url.Content(Model.ImageOfStep3)" alt="Step 3 Image" />
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <!-- Single Preparation Step 4 -->
                                    <div>
                                        @if (!string.IsNullOrEmpty(Model.Step4))
                                        {
                                            <div class="col-12">
                                                <div class="single-preparation-step d-flex">
                                                    <h4>04.</h4>
                                                    <p>@Model.Step4</p>
                                                </div>
                                                <div class="step-image">
                                                    @if (!string.IsNullOrEmpty(Model.ImageOfStep4))
                                                    {
                                                        <img src="@Url.Content(Model.ImageOfStep4)" alt="Step 4 Image" />
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>

                                    <!-- Single Preparation Step 5 -->
                                    <div>
                                        @if (!string.IsNullOrEmpty(Model.Step5))
                                        {
                                            <div class="col-12">
                                                <div class="single-preparation-step d-flex">
                                                    <h4>05.</h4>
                                                    <p>@Model.Step5</p>
                                                </div>
                                                <div class="step-image">
                                                    @if (!string.IsNullOrEmpty(Model.ImageOfStep5))
                                                    {
                                                        <img src="@Url.Content(Model.ImageOfStep5)" alt="Step 5 Image" />
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Ingredients -->
                            <div class="col-lg-4">
                                <div class="ingredients">
                                    <h4>Ingredients</h4>

                                    @foreach (var ingredient in Model.Ingredients1)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck@(ingredient.IngredientID)">
                                            <label class="custom-control-label" for="customCheck@(ingredient.IngredientID)">@ingredient.IngredientName</label>
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="section-heading text-left">
                    <h3>Leave a comment</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="contact-form-area">
                    <form action="@Url.Action("AddFeedback", "RecipesPublic")" method="post">
                        <div class="row">
                            <div class="col-12">
                                <textarea name="feedbackComment" class="form-control" id="feedbackComment" cols="30" rows="5" placeholder="Leave your feedback here"></textarea>
                            </div>
                            <div class="col-12">
                                <input type="hidden" name="recipeId" value="@Model.RecipeID" />
                                <button class="btn delicious-btn mt-30" type="submit">Post Feedback</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>

<style>
    .single-preparation-step img {
        width: 300px;
        height: 300px;
    }
</style>

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="~/Assets/assets_RecipeDetail/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="~/Assets/assets_RecipeDetail/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="~/Assets/assets_RecipeDetail/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="~/Assets/assets_RecipeDetail/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="~/Assets/assets_RecipeDetail/js/active.js"></script>
</html>
