@model PagedList.IPagedList<JamesThewDOTcom.Models.Recipe>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Home";

    if (Session["UserName"] == null)
    {
        // Khi chưa Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        // Khi đã Login thì sử dụng Layout này
        Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!--font-awesome.min.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/font-awesome.min.css">

    <!--linear icon css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/linearicons.css">

    <!--animate.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/animate.css">

    <!--flaticon.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/flaticon.css">

    <!--slick.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/slick.css">
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/slick-theme.css">

    <!--bootstrap.min.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/bootstrap.min.css">

    <!-- bootsnav -->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/bootsnav.css">

    <!--style.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/style.css">

    <!--responsive.css-->
    <link rel="stylesheet" href="~/Assets/assets_Recipe/css_recipe/responsive.css">
</head>
<body>

    <!--explore start -->
    <section id="explore" class="explore">
        <div class="container">
            <div class="section-header">
                <h2>Việt Nam</h2>
                <p>Việt Nam sở hữu những món ăn ngon nhất thế giới</p>
            </div><!--/.section-header-->
            <div class="explore-content">
                <div class="row">
                    @foreach (var recipe in Model)
                    {
                        <div class="col-md-4 col-sm-6">
                            <div class="single-explore-item">
                                <div class="single-explore-img">
                                    @if (!string.IsNullOrEmpty(recipe.Image))
                                    {
                                        <img src="@Url.Content(recipe.Image)" alt="recipe image" class="img-fluid rounded">
                                    }
                                    <div class="single-explore-img-info">
                                        <div class="single-explore-image-icon-box">
                                            <ul>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-arrows-alt"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="single-explore-image-icon">
                                                        <i class="fa fa-bookmark-o"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-explore-txt bg-theme-1">
                                    <h2>
                                        @Html.ActionLink(recipe.Title, "Detail", "RecipesPublic", new { id = recipe.RecipeID }, new { @class = "navbar-brand" })
                                    </h2>
                                    @if (!string.IsNullOrEmpty(recipe.Description))
                                    {
                                        string shortDescription = recipe.Description.Length > 50 ? recipe.Description.Substring(0, 50) + "..." : recipe.Description;
                                        @shortDescription
                                    }
                                    <p style="opacity: 0.5;">Được đăng bởi: @recipe.UserName</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

            <div class="section-footer">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = false, MaximumPageNumbersToDisplay = 5 })
            </div>

        </div><!--/.container-->
    </section><!--/.explore-->
    <!--explore end -->

    <script src="~/Assets/assets_Recipe/js_recipe/jquery.js"></script>

    <!--modernizr.min.js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <!--bootstrap.min.js-->
    <script src="~/Assets/assets_Recipe/js_recipe/bootstrap.min.js"></script>

    <!-- bootsnav js -->
    <script src="~/Assets/assets_Recipe/js_recipe/bootsnav.js"></script>

    <!--feather.min.js-->
    <script src="~/Assets/assets_Recipe/js_recipe/feather.min.js"></script>

    <!-- counter js -->
    <script src="~/Assets/assets_Recipe/js_recipe/jquery.counterup.min.js"></script>
    <script src="~/Assets/assets_Recipe/js_recipe/waypoints.min.js"></script>

    <!--slick.min.js-->
    <script src="~/Assets/assets_Recipe/js_recipe/slick.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    <!--Custom JS-->
    @*<script src="~/Assets/assets_Recipe/js_recipe/custom.js"></script>*@

</body>
</html>
